<nav class="navbar navbar-dark bg-dark te">
  <div class="container" style="width: 80%;">
    <a href="/" class="navbar-brand">Aplicación de archivos</a>
  </div>
</nav>


<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Button with data-bs-target
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      
    </div>
  </div>
</div>


<div class="container mt-4" style="width: 80%; height:80%; ">
  <div class="row align-items-center"">
    <div class="col align-self-center">



      